{% trans_default_domain 'FOSUserBundle' %}

<div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="registerLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Закрыть</span></button>
                <h4 class="modal-title" id="registerLabel">Регистрация</h4>
            </div>

            <div class="modal-body">
                <form role="form"
                      action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
                      id="form-register">

                    <div class="form-horizontal fos_user_registration_register">
                        <div class="form-group">
                            <label for="input_email" class="col-sm-2 control-label">Email</label>

                            <div class="col-sm-10">
                                {{ form_widget(form.email, { 'attr': {'class': 'form-control validate-email input_email'} }) }}
                                <div class="inputErrors">
                                    {{ form_errors(form.email) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input_password" class="col-sm-2 control-label">Пароль</label>

                            <div class="col-sm-10">
                                {{ form_widget(form.plainPassword.pass, { 'attr': {'class': 'form-control validate-password input_password'} }) }}
                                <div class="inputErrors">
                                    {{ form_errors(form.plainPassword.pass) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input_re-password" class="col-sm-2 control-label">Повтори</label>

                            <div class="col-sm-10">
                                {{ form_widget(form.plainPassword.confirm, { 'attr': {'class': 'form-control validate-password input_re-password'} }) }}
                                <div class="inputErrors">
                                    {{ form_errors(form.plainPassword.confirm) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                {{ form_widget(form._token) }}
                            </div>
                        </div>

                    </div>
                </form>


                <div class="" id="register-msgs" role="alert" style="display: none">
                    <strong class="alert-title" style="font-size: 17px;"></strong> <span style="font-size: 15px;" class="alert-message"></span>
                </div>

                <div class="modal-footer">
                    <div id="register-buttons">
                        <button type="button" class="btn btn-black" data-dismiss="modal">Позже...</button>
                        <button type="button" class="btn btn-orange" data-loading-text="Идет регистрация..." id="bs-register-ajax">Регистрация</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>