<div class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
    {#       <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
    </ol> #}
    <div class="carousel-inner">
       <div class="item active">
            <div class="row">
                <div class="col-md-7 pull-left">
                        <h2 class="bold white">Идея проекта</h2>
                        <p class="white">
                        Команда Brainstrap - биржа, на которой заказчик выбирает исполнителя...
                        </p>
                </div>
                <div class="col-md-5 pull-right">
                        <img src="{{ asset('bundles/brainstrapfront/images/brains/2_brain.png') }}" />
                </div>
            </div>
        </div>
{# 
        <div class="item">
            <div class="row">
                <div class="col-md-7 pull-left">
                        <h2 class="bold white">Удобство</h2>
                        <p class="white">
                        По выполнению каждого этапа разраотки члены команды Brainstrap  проводят тестирование и контроль качества программного продукта.
                        </p>
                </div>
                <div class="col-md-5 pull-right">
                    <img src="{{ asset('bundles/brainstrapfront/images/brains/1_brain.png') }}" />
                </div>
            </div>
         </div> #}

        <div class="item">
            <div class="row">
                <div class="col-md-7 pull-left">
                        <h2 class="bold white">Высокое качество программных продуктов</h2>
                        <p class="white">
                        По выполнению каждого этапа разраотки члены команды Brainstrap  проводят тестирование и контроль качества программного продукта.
                        </p>
                </div>
                <div class="col-md-5 pull-right">
                    <img src="{{ asset('bundles/brainstrapfront/images/brains/1_brain.png') }}" />
                </div>
            </div>
         </div>
        <div class="item">
            <div class="row">
                <div class="col-md-7 pull-left">
                        <h2 class="bold white">Ответственность за проект</h2>
                        <p class="white">
                          Мы рассчитываем на долгосрочное сотрудничество с заказчиками и выполняем порученную нам работу достойно.
                        </p>
                </div>
                <div class="col-md-5 pull-right">
                        <img src="{{ asset('bundles/brainstrapfront/images/brains/3_brain.png') }}" />
                </div>
            </div>
        </div>
        <div class="item">

            <div class="row">
                <div class="col-md-7 pull-left">
                        <h2 class="bold white">Индивидуальный подход к каждому проекту</h2>
                        <p class="white">
                          Каждый проект доверенный команде Brainsrtap будет разработан с учетом особенностей сферы деятельности и вашими пожеланиями.
                        </p>
                </div>
                <div class="col-md-5 pull-right">
                        <img src="{{ asset('bundles/brainstrapfront/images/brains/4_brain.png') }}" />
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-md-7 pull-left">
                        <h2 class="bold white">Новейшие технологии</h2>
                        <p class="white">
                          Brainstrap использует новейшие технологии в своих разработках, что позволит вашему проекту выгодны отличаться от конкурентов.
                        </p>
                </div>
                <div class="col-md-5 pull-right">
                        <img src="{{ asset('bundles/brainstrapfront/images/brains/5_brain.png') }}" />
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-md-7 pull-left">
                        <h2 class="bold white">Новейшие технологии</h2>
                        <p class="white">
                          Brainstrap использует новейшие технологии в своих разработках, что позволит вашему проекту выгодны отличаться от конкурентов.
                        </p>
                </div>
                <div class="col-md-5 pull-right">
                        <img src="{{ asset('bundles/brainstrapfront/images/brains/5_brain.png') }}" />
                </div>
            </div>
        </div>
    </div>
    {#       <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    </a> #}
</div>